@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
    background: linear-gradient(112.1deg, #003366 11.4%, #003366 70.2%);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    display: block;
    height: 100vh;
}

