<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
    <a routerLink="/" class="navbar-brand mx-2 nav-border"> 
        <h4> <i class="fa fa-tasks" aria-hidden="true"></i> Task Manager </h4>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="gap: 25px;">
            <a routerLink="/task" class="nav-link active nav-border"> 
                <h6><i class="fa fa-plus-circle" aria-hidden="true"></i> New Task</h6>
            </a>
            <a routerLink="/contact" class="nav-link active nav-border"> 
                <i class="fa fa-address-book" aria-hidden="true"></i> Contact
            </a>
        </div>
    </div>
    <form class="d-flex mx-4" style="float: right;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>