.nav-border{
    border-radius: 10px;
    padding: 10px;
}

.nav-border:hover{
    background-color: #676768;
    color: azure;
    border: hidden;
    cursor: pointer;
}

.navbar-bg{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(166, 226, 229) 0%, rgb(198, 232, 221) 100.2%);
}
