<div class="card my-2 card-style">
    <div class="card-body">
        <p class="card-title title-bg"> {{task.title | uppercase}}</p>
        <p class="card-text"  >
            {{task.subject.length > 150 ? task.subject.substring(0,150)+"..." : task.subject}}
        </p>
        <div class="row my-3">
            <div class="col"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{task.author}}</div>
            
            @if( task.priority.toLowerCase() === 'high' ){
                <div class="col priority" style="background-color: #d10000; "> <i class="fa fa-bell" aria-hidden="true"></i> {{task.priority}}</div>
            }

            @if( task.priority.toLowerCase() === 'extreme' ){
                <div class="col priority" style="background-color: #520101; "> <i class="fa fa-bell" aria-hidden="true"></i> {{task.priority}}</div>
            }

            @if( task.priority.toLowerCase() === 'moderate' ){
                <div class="col-6 priority" style="background-color: #884800; "> <i class="fa fa-bell" aria-hidden="true"></i> {{task.priority}}</div>
            }

            @if( task.priority.toLowerCase() === 'medium' ){
                <div class="col priority" style="background-color: #015817; "> <i class="fa fa-bell" aria-hidden="true"></i> {{task.priority}}</div>
            }

            @if( task.priority.toLowerCase() === 'low' ){
                <div class="col priority" style="background-color: #012ff8; "> <i class="fa fa-bell" aria-hidden="true"></i> {{task.priority}}</div>
            }
            
            
            
        </div>
        <p class="my-2">{{task.time| date: 'yyyy/MM/dd hh:mm:ss a'}}</p>
    </div>
</div>