.column-card {
    background: radial-gradient(circle at 10% 20%, rgb(166, 226, 229) 0%, rgb(198, 232, 221) 100.2%);
    box-shadow: none;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #00005a;
    row-gap: 5px;
    border-radius: 2px;
}

.column-card:hover{
    box-shadow: 1px 1px 1px #232402;
}

.column-card h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 8px;
    font-weight: 600;
}