.column-card {
    background: linear-gradient(to top, #e5f04c 0%, #f0ee96 100%);
    box-shadow: none;
    height: 50px;
    padding-left: 10px;
    border: 2px solid snow;
    row-gap: 5px;
    border-radius: 2px;
}

.column-card:hover{
    box-shadow: 1px 1px 1px #232402;
}

.column-card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 8px;
}