<div class="contact d-flex justify-content-center align-item-center">

    <div class="contact-grid">
        <h3 class="mx-3 my-3">GET IN TOUCH!</h3>
        <div class="row my-3 mx-3">
            <div class="col left">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="your mail address">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" placeholder="Your Massage"></textarea>
                </div>
                <button type="button" class="btn btn-outline-success">Submit</button>
            </div>
            <div class="col right">
                <h3 class="my-1" >Contact</h3>
                <div class="row my-3">
                    <div class="col-1">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <h5>Almighty Mansion, Hyderabad</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <h5>+91 8210-8854-14, +91 8303-8813-61 </h5>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <h5>sysadmin&#64;tskmgr.com, shesho&#64;tskmgr.com</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>